# Dependencias
/node_modules
/.pnp
.pnp.*

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Testing
/coverage

# Next.js
/.next/
/out/
/build

# Vercel
.vercel

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
storage-debug.log
emulator-debug.log
.firebaserc

# Genkit
.genkit/*

# Archivos de entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Archivos misceláneos
.DS_Store
Thumbs.db
*.pem

# IDEs / editores
.vscode/
.idea/
*.swp
